.project{
    margin-bottom: 30rem;
}
.cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:5px;
}
@media (max-width: 500px){
    .cards{
        display: flex;
        flex-direction: column;
        justify-items:normal;
    }
    .card-div{
        margin:15px;
    }
}