*{
  padding: 0;
  margin: 0;
}

body {
  
  font-family: 'Roboto', 'Segoe UI',  'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d8e3e7;
}

/*Hide scrollbar*/
body ::-webkit-scrollbar{
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container{
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1280px;
}
p{
  line-height: 30px;
  font-family: 'Poppins', sans-serif;
}
h1,h2{
  font-family: "Ubuntu", cursive;
}
